/* Sets the global background, text alignment, and font family */
body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

/* Styles the top-most header */
h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

/* Styles the download link */
a {
  color: aquamarine;
  font-size: 16px;
}

/* Styles the subheadings */
h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

/* Styles the descriptive text under the first subheading */
.description {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

/* Styles the copyright text at the bottom of the page */
.copyright {
  text-align: right;
  color: gray;
}
